body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5F5F5;
    margin: 0; /* Removes default body margin */
    overflow: hidden; /* Prevents scrolling */
}

#canvas-container {
    position: relative;
    width: 80%; /* 80% of parent width */
    height: 80%; /* 80% of parent height */
}

#resetButton {
    position: absolute;
    top: 10px;
    left: 10px;
}
