body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5F5F5;
    margin: 0;
    overflow: hidden;
}

#canvas-container {
    position: relative;
    width: 80%;
    height: 80%;
}

#resetButton {
    position: absolute;
    top: 10px;
    left: 10px;
}
